{% extends 'layout.html' %}
{% block content_home %}
<div class="left-section">
    <a class="navbar-brand mr-4" href="/"><- Back to home</a>
</div>
{% endblock content_home %}
{% block content_items %}
<div class="login-section">
    <h2 class="login-content">Welcome to XYZ Jewellery </h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" id="loginText">Admin Log In</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.client_secret.label(class="form-control-label") }}
                {% if form.client_secret.errors %}
                {{ form.client_secret(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.client_secret.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.client_secret(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need an Admin Account? <a class="ml-2" href="{{url_for('adminRegister')}}">Sign Up Now</a>
        </small>
        <small>
            Go back to user login <a class="ml-2" href="{{url_for('userLogin')}}">Login</a>
        </small>
    </div>
</div>
{% endblock content_items %}

</html>